<div class="container py-4" style="min-height:70vh">
  <p *ngIf="cartItems.length==0">No items in cart!!!</p>
  <div *ngIf="cartItems.length>0" class="col-sm-12 col-md-8 mx-auto" >
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">S.N.</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems;let i = index">
          <th>{{i+1}}</th>
          <td>
            <div class="img-con">
              <img src={{item.img}} width="100%" height="100%">
            </div></td>
          <td>{{item.name}}</td>
          <td>{{item.quantity}}</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
      <h5>Total price: Rs {{totalPrice}}</h5>
    </div>
    <div class="d-flex justify-content-end">
        <form action="https://uat.esewa.com.np/epay/main" method="POST">
        <input value={{totalPrice}} name="tAmt" type="hidden">
        <input value={{totalPrice}} name="amt" type="hidden">
        <input value="0" name="txAmt" type="hidden">
        <input value="0" name="psc" type="hidden">
        <input value="0" name="pdc" type="hidden">
        <input value="EPAYTEST" name="scd" type="hidden">
        <input value="ee2c3ca1-696b-4cc5-a6be-2c40d929d453" name="pid" type="hidden">
        <input value="http://merchant.com.np/page/esewa_payment_success?q=su" type="hidden" name="su">
        <input value="http://merchant.com.np/page/esewa_payment_failed?q=fu" type="hidden" name="fu">
        <input value="Pay Using Esewa" type="submit" class="btn btn-success">
        </form>
    </div>
  </div>
</div>

